*{
    margin:auto;
    padding:auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  background-color: #EEEEEE;
  color: #333333;
}

.menu{
    display:flex;
    width:95%;
    background-color: rgb(37, 37, 37);
    margin-top:8px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 4px;
}
h2{
    margin-left: 10px;
    color: #EEEEEE;
}
#nav{
    display: flex;
    gap:12px;
    margin-left: auto;
    margin-right:5px;
    list-style-type: none;
}
a{
    color: rgb(252, 253, 255);
    text-decoration: none;
    transition: 1.5s;
}

a:hover{
    color: rgb(0, 255, 255);
}

img{
    width: 700px;
    margin-top: -150px;
    margin-left: -100px;
}

.home{
    display: flex;

}

.n{
    display: grid;
}

h1{
    font-size: 50px;
}